@import (reference) './less/variables.less';
@import (reference) './less/mixins.less';

.brandedHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .logoWrap {
        display: flex;
        padding: 18px;

        .logo {
            box-sizing: content-box;
            width: 167px;
            height: 100%;
        }
    }

    .navLinks {
        margin-left: unset;

        ul {
            display: flex;
            margin-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                margin-bottom: 0;

                a {
                    text-decoration: none;
                    .px-rem(padding, 18);

                    // for static load
                    svg {
                        width: 1em;
                        overflow: visible;
                        vertical-align: -0.225em;
                        font-size: 1.3333333333em;
                        line-height: 0.75em;
                    }
                }

                &.socialIconSpacing {
                    a {
                        .px-rem(padding-right, 0);
                        .px-rem(padding-left, 27);
                    }
                }
            }
        }
    }
}

@media @min-tablet {
    // center align the logo and navlinks
    .brandedHeader {
        .navLinks {
            margin-left: auto;
        }
    }
}
