@import (reference) '../components/less/variables.less';
@import (reference) '../components/less/mixins.less';

.article {
  .px-rem(margin-bottom, 54);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail {
  flex: 1 1 25%;
  margin: 5px 20px 10px 0;
}

.summary {
  flex: 1 1 70%;
}

.h3Style {
  .px-rem(margin-bottom, 18);

  a {
    text-decoration: none;

    &:visited {
      color: @link-visited;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  margin-bottom: 1rem;
}

.postMeta {
  display: flex;
  color: @body-mid;
  align-items: center;
  .font-unit-rem(16);

  .author {
    font-weight: 900;
  }
}

.dot {
  // adds a dot between author name and date
  &:after {
    content: ' \2219 ';
    .px-em-padding(0, 8, 0, 8);
    font-weight: 900;
  }
}
